
.new-team {
    height: 100%;
}

.header {
    position: absolute;
    width: 375px;
    height: 110px;
    left: 0px;
    top: 0px;

    background: #90ADC6;
}

.header .link {
    position: absolute;
    width: 69px;
    height: 48px;
    left: 153px;
    top: 64px;

    font-family: Spartan;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 48px;

    /* identical to box height, or 267% */
    text-align: center;

    color: #FFFFFF;
}


.header-bar {
    margin-left: 2.5rem;
    width: 18.5rem;
    height: 1px;
    margin-top: 3.5rem;

    background: #FFFFFF;
}


.main {
    position: absolute;
    background: #E9EAEC;
    height: 86.8%;
    width: 100%;
    top: 6.7rem;
}


.my-team {
    display: flex;
    margin-left:20px;
    margin-top: 10px;
    width: 319px;
    height: 261px;
}


.my-team .icon {
    height: 2.75rem;
}


.my-team .team-name {
    display: flex;
    height: 2rem;
}



.my-team h1 {
    font-family: Spartan;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 48px;
    color: #333652;
}

.my-team img {
    width: 10px;
    height: 10px;
    margin-left: 6px;
}


.my-team .button-group {
    display: flex;
    position: absolute;
    margin-top: 221px;
    right: 36px;
}

.my-team .delete-button {
    width: 40px;
    height: 40px;
    background-image: url('./imgs/DeleteButton.png');
}


.my-team .confirm-button {
    margin-left: 13px;
    width: 40px;
    height: 40px;
    background-image: url('./imgs/ConfirmButton.png');
}


.main .all-pokemons {
    position: relative;
    margin-left:15px;
    margin-top: 23px;
    width: 320px;
    height: 395px;
}


.all-pokemons h1{
    position: relative;
    font-family: Spartan;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 48px;
    color: #333652;
}


.all-pokemons .list-pokemons {
    margin-left: 15px;
}
